{
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "func-names": "off",
    "no-unused-vars": "off",
    "consistent-return":"off",
    "eqeqeq":"off"
  },
  "extends": "airbnb-base"
}